jmarijano_aplikacija_3_2/web/WEB-INF/wsdl/localhost_8084/jmarijano_aplikacija_1/WSApp1.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.servisi.web.jmarijano.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.servisi.web.jmarijano.nwtis.foi.org/">

<xs:element name="aerodrom" type="tns:aerodrom"/>

<xs:element name="azurirajKorisnika" type="tns:azurirajKorisnika"/>

<xs:element name="azurirajKorisnikaResponse" type="tns:azurirajKorisnikaResponse"/>

<xs:element name="dajAerodromeAerodromaUdaljeneURasponu" type="tns:dajAerodromeAerodromaUdaljeneURasponu"/>

<xs:element name="dajAerodromeAerodromaUdaljeneURasponuResponse" type="tns:dajAerodromeAerodromaUdaljeneURasponuResponse"/>

<xs:element name="dajAerodromeAviona" type="tns:dajAerodromeAviona"/>

<xs:element name="dajAerodromeAvionaResponse" type="tns:dajAerodromeAvionaResponse"/>

<xs:element name="dajAvionePoletjeleSAerodroma" type="tns:dajAvionePoletjeleSAerodroma"/>

<xs:element name="dajAvionePoletjeleSAerodromaResponse" type="tns:dajAvionePoletjeleSAerodromaResponse"/>

<xs:element name="dajMeteoPodatkeAerodroma" type="tns:dajMeteoPodatkeAerodroma"/>

<xs:element name="dajMeteoPodatkeAerodromaResponse" type="tns:dajMeteoPodatkeAerodromaResponse"/>

<xs:element name="dajNaziveAerodromaAviona" type="tns:dajNaziveAerodromaAviona"/>

<xs:element name="dajNaziveAerodromaAvionaResponse" type="tns:dajNaziveAerodromaAvionaResponse"/>

<xs:element name="dajPosljednjihNAvionaZaOdredeniAerodrom" type="tns:dajPosljednjihNAvionaZaOdredeniAerodrom"/>

<xs:element name="dajPosljednjihNAvionaZaOdredeniAerodromResponse" type="tns:dajPosljednjihNAvionaZaOdredeniAerodromResponse"/>

<xs:element name="dajSveKorisnike" type="tns:dajSveKorisnike"/>

<xs:element name="dajSveKorisnikeResponse" type="tns:dajSveKorisnikeResponse"/>

<xs:element name="dajZadnjiPreuzetiAvionZaOdabraniAerodrom" type="tns:dajZadnjiPreuzetiAvionZaOdabraniAerodrom"/>

<xs:element name="dajZadnjiPreuzetiAvionZaOdabraniAerodromResponse" type="tns:dajZadnjiPreuzetiAvionZaOdabraniAerodromResponse"/>

<xs:element name="dodajKorisnika" type="tns:dodajKorisnika"/>

<xs:element name="dodajKorisnikaResponse" type="tns:dodajKorisnikaResponse"/>

<xs:element name="operation" type="tns:operation"/>

<xs:element name="operationResponse" type="tns:operationResponse"/>

<xs:element name="udaljenostIzmeduAerodroma" type="tns:udaljenostIzmeduAerodroma"/>

<xs:element name="udaljenostIzmeduAerodromaResponse" type="tns:udaljenostIzmeduAerodromaResponse"/>

<xs:complexType name="dajSveKorisnike">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveKorisnikeResponse">
<xs:sequence>
<xs:element name="return" type="tns:korisnik" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="korisnik">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="ime" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="prezime" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operation">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="identPolazisni" type="xs:string" minOccurs="0"/>
<xs:element name="identOdredisni" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:string" minOccurs="0"/>
<xs:element name="doVremena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operationResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avionLeti">
<xs:sequence>
<xs:element name="arrivalAirportCandidatesCount" type="xs:int"/>
<xs:element name="callsign" type="xs:string" minOccurs="0"/>
<xs:element name="departureAirportCandidatesCount" type="xs:int"/>
<xs:element name="estArrivalAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estArrivalAirportHorizDistance" type="xs:int"/>
<xs:element name="estArrivalAirportVertDistance" type="xs:int"/>
<xs:element name="estDepartureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estDepartureAirportHorizDistance" type="xs:int"/>
<xs:element name="estDepartureAirportVertDistance" type="xs:int"/>
<xs:element name="firstSeen" type="xs:int"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="lastSeen" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajPosljednjihNAvionaZaOdredeniAerodrom">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="ident" type="xs:string" minOccurs="0"/>
<xs:element name="brojAviona" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajPosljednjihNAvionaZaOdredeniAerodromResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAvionePoletjeleSAerodroma">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="ident" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:int"/>
<xs:element name="doVremena" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAvionePoletjeleSAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjiPreuzetiAvionZaOdabraniAerodrom">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="ident" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjiPreuzetiAvionZaOdabraniAerodromResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajNaziveAerodromaAviona">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:int"/>
<xs:element name="doVremena" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajNaziveAerodromaAvionaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeAerodromaUdaljeneURasponu">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="ident" type="xs:string" minOccurs="0"/>
<xs:element name="odKm" type="xs:int"/>
<xs:element name="doKm" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeAerodromaUdaljeneURasponuResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aerodrom">
<xs:sequence>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="lokacija" type="tns:lokacija" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lokacija">
<xs:sequence>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="udaljenostIzmeduAerodroma">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="identPrvi" type="xs:string" minOccurs="0"/>
<xs:element name="identDrugi" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="udaljenostIzmeduAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeAviona">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:int"/>
<xs:element name="doVremena" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeAvionaResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKorisnika">
<xs:sequence>
<xs:element name="korisnickoIme" type="tns:korisnik" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeAerodroma">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="ident" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="cloudsName" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsValue" type="xs:int"/>
<xs:element name="humidityUnit" type="xs:string" minOccurs="0"/>
<xs:element name="humidityValue" type="xs:float" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precipitationMode" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationValue" type="xs:float" minOccurs="0"/>
<xs:element name="pressureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="pressureValue" type="xs:float" minOccurs="0"/>
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0"/>
<xs:element name="temperatureMax" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureMin" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="temperatureValue" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:string" minOccurs="0"/>
<xs:element name="weatherIcon" type="xs:string" minOccurs="0"/>
<xs:element name="weatherNumber" type="xs:int"/>
<xs:element name="weatherValue" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionName" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedName" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="azurirajKorisnika">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="korisnik" type="tns:korisnik" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="azurirajKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>