jmarijano_aplikacija_3_2/web/WEB-INF/wsdl/localhost_8084/jmarijano_aplikacija_1/WSApp1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.servisi.web.jmarijano.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.servisi.web.jmarijano.nwtis.foi.org/" name="WSApp1">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.servisi.web.jmarijano.nwtis.foi.org/" schemaLocation="http://localhost:8084/jmarijano_aplikacija_1/WSApp1?xsd=1"/>
</xsd:schema>
</types>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="dajZadnjiPreuzetiAvionZaOdabraniAerodrom">
<part name="parameters" element="tns:dajZadnjiPreuzetiAvionZaOdabraniAerodrom"/>
</message>
<message name="dajZadnjiPreuzetiAvionZaOdabraniAerodromResponse">
<part name="parameters" element="tns:dajZadnjiPreuzetiAvionZaOdabraniAerodromResponse"/>
</message>
<message name="dajPosljednjihNAvionaZaOdredeniAerodrom">
<part name="parameters" element="tns:dajPosljednjihNAvionaZaOdredeniAerodrom"/>
</message>
<message name="dajPosljednjihNAvionaZaOdredeniAerodromResponse">
<part name="parameters" element="tns:dajPosljednjihNAvionaZaOdredeniAerodromResponse"/>
</message>
<message name="dajAerodromeAerodromaUdaljeneURasponu">
<part name="parameters" element="tns:dajAerodromeAerodromaUdaljeneURasponu"/>
</message>
<message name="dajAerodromeAerodromaUdaljeneURasponuResponse">
<part name="parameters" element="tns:dajAerodromeAerodromaUdaljeneURasponuResponse"/>
</message>
<message name="dajAvionePoletjeleSAerodroma">
<part name="parameters" element="tns:dajAvionePoletjeleSAerodroma"/>
</message>
<message name="dajAvionePoletjeleSAerodromaResponse">
<part name="parameters" element="tns:dajAvionePoletjeleSAerodromaResponse"/>
</message>
<message name="dajAerodromeAviona">
<part name="parameters" element="tns:dajAerodromeAviona"/>
</message>
<message name="dajAerodromeAvionaResponse">
<part name="parameters" element="tns:dajAerodromeAvionaResponse"/>
</message>
<message name="dajNaziveAerodromaAviona">
<part name="parameters" element="tns:dajNaziveAerodromaAviona"/>
</message>
<message name="dajNaziveAerodromaAvionaResponse">
<part name="parameters" element="tns:dajNaziveAerodromaAvionaResponse"/>
</message>
<message name="dajMeteoPodatkeAerodroma">
<part name="parameters" element="tns:dajMeteoPodatkeAerodroma"/>
</message>
<message name="dajMeteoPodatkeAerodromaResponse">
<part name="parameters" element="tns:dajMeteoPodatkeAerodromaResponse"/>
</message>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<message name="udaljenostIzmeduAerodroma">
<part name="parameters" element="tns:udaljenostIzmeduAerodroma"/>
</message>
<message name="udaljenostIzmeduAerodromaResponse">
<part name="parameters" element="tns:udaljenostIzmeduAerodromaResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="dajSveKorisnike">
<part name="parameters" element="tns:dajSveKorisnike"/>
</message>
<message name="dajSveKorisnikeResponse">
<part name="parameters" element="tns:dajSveKorisnikeResponse"/>
</message>
<portType name="WSApp1">
<operation name="operation">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/operationRequest" message="tns:operation"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/operationResponse" message="tns:operationResponse"/>
</operation>
<operation name="dajZadnjiPreuzetiAvionZaOdabraniAerodrom">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajZadnjiPreuzetiAvionZaOdabraniAerodromRequest" message="tns:dajZadnjiPreuzetiAvionZaOdabraniAerodrom"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajZadnjiPreuzetiAvionZaOdabraniAerodromResponse" message="tns:dajZadnjiPreuzetiAvionZaOdabraniAerodromResponse"/>
</operation>
<operation name="dajPosljednjihNAvionaZaOdredeniAerodrom">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajPosljednjihNAvionaZaOdredeniAerodromRequest" message="tns:dajPosljednjihNAvionaZaOdredeniAerodrom"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajPosljednjihNAvionaZaOdredeniAerodromResponse" message="tns:dajPosljednjihNAvionaZaOdredeniAerodromResponse"/>
</operation>
<operation name="dajAerodromeAerodromaUdaljeneURasponu">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajAerodromeAerodromaUdaljeneURasponuRequest" message="tns:dajAerodromeAerodromaUdaljeneURasponu"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajAerodromeAerodromaUdaljeneURasponuResponse" message="tns:dajAerodromeAerodromaUdaljeneURasponuResponse"/>
</operation>
<operation name="dajAvionePoletjeleSAerodroma">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajAvionePoletjeleSAerodromaRequest" message="tns:dajAvionePoletjeleSAerodroma"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajAvionePoletjeleSAerodromaResponse" message="tns:dajAvionePoletjeleSAerodromaResponse"/>
</operation>
<operation name="dajAerodromeAviona">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajAerodromeAvionaRequest" message="tns:dajAerodromeAviona"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajAerodromeAvionaResponse" message="tns:dajAerodromeAvionaResponse"/>
</operation>
<operation name="dajNaziveAerodromaAviona">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajNaziveAerodromaAvionaRequest" message="tns:dajNaziveAerodromaAviona"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajNaziveAerodromaAvionaResponse" message="tns:dajNaziveAerodromaAvionaResponse"/>
</operation>
<operation name="dajMeteoPodatkeAerodroma">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajMeteoPodatkeAerodromaRequest" message="tns:dajMeteoPodatkeAerodroma"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajMeteoPodatkeAerodromaResponse" message="tns:dajMeteoPodatkeAerodromaResponse"/>
</operation>
<operation name="azurirajKorisnika">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
<operation name="udaljenostIzmeduAerodroma">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/udaljenostIzmeduAerodromaRequest" message="tns:udaljenostIzmeduAerodroma"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/udaljenostIzmeduAerodromaResponse" message="tns:udaljenostIzmeduAerodromaResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="dajSveKorisnike">
<input wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajSveKorisnikeRequest" message="tns:dajSveKorisnike"/>
<output wsam:Action="http://ws.servisi.web.jmarijano.nwtis.foi.org/WSApp1/dajSveKorisnikeResponse" message="tns:dajSveKorisnikeResponse"/>
</operation>
</portType>
<binding name="WSApp1PortBinding" type="tns:WSApp1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjiPreuzetiAvionZaOdabraniAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPosljednjihNAvionaZaOdredeniAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeAerodromaUdaljeneURasponu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAvionePoletjeleSAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajNaziveAerodromaAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="udaljenostIzmeduAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveKorisnike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSApp1">
<port name="WSApp1Port" binding="tns:WSApp1PortBinding">
<soap:address location="http://localhost:8084/jmarijano_aplikacija_1/WSApp1"/>
</port>
</service>
</definitions>